<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.parking.mapper.ParkingLotEquipmentMapper">
    
    <resultMap type="ParkingLotEquipment" id="ParkingLotEquipmentResult">
        <result property="id"    column="id"    />
        <result property="parkinglotinformationid"    column="parkingLotInformationId"    />
        <result property="name"    column="name"    />
        <result property="cameraserialnumber"    column="cameraSerialNumber"    />
        <result property="motherboardserialnumber"    column="motherboardSerialNumber"    />
        <result property="direction"    column="direction"    />
        <result property="controlplate"    column="controlPlate"    />
        <result property="onedisplay"    column="oneDisplay"    />
        <result property="twodisplay"    column="twoDisplay"    />
        <result property="threedisplay"    column="threeDisplay"    />
        <result property="fourdisplay"    column="fourDisplay"    />
        <result property="qrcode"    column="qrCode"    />
        <result property="state"    column="state"    />
        <result property="ipadress"    column="ipAdress"    />
        <result property="departurewithoutrecords"    column="departureWithoutRecords"    />
        <result property="licenseplatanticounterfeiting"    column="licensePlatAntiCounterfeiting"    />
        <result property="specificvehicleexit"    column="specificVehicleExit"    />
        <result property="residualscreen"    column="residualScreen"    />
        <result property="volume"    column="volume"    />
        <result property="numberone"    column="numberone"    />
        <result property="numbertwo"    column="numbertwo"    />
        <result property="numberthree"    column="numberThree"    />
        <result property="noLicensePlateCode"    column="noLicensePlateCode"    />
        <association property="parkingLotInformation" javaType="com.ruoyi.common.core.domain.entity.ParkingLotInformation">
            <id property="id" column="iid"></id>
            <result property="name" column="iname"></result>

        </association>
    </resultMap>

    <sql id="selectParkingLotEquipmentVo">
        select id, parkingLotInformationId, name, cameraSerialNumber, motherboardSerialNumber, direction, controlPlate, oneDisplay, twoDisplay, threeDisplay, fourDisplay, qrCode, state, ipAdress, departureWithoutRecords, licensePlatAntiCounterfeiting, specificVehicleExit, residualScreen, volume, numberone, numbertwo, numberThree from parking_lot_equipment
    </sql>

    <select id="selectParkingLotEquipmentList" parameterType="ParkingLotEquipment" resultMap="ParkingLotEquipmentResult">
        select e.*,i.id iid,i.name iname from parking_lot_equipment e left join parking_lot_information i on e.parkinglotinformationid=i.id
        <where>  
            <if test="parkinglotinformationid != null and parkinglotinformationid != 0 "> and e.parkingLotInformationId = #{parkinglotinformationid}</if>
            <if test="name != null  and name != ''"> and e.name like e.concat('%', #{name}, '%')</if>
            <if test="cameraserialnumber != null  and cameraserialnumber != ''"> and e.cameraSerialNumber = #{cameraserialnumber}</if>
            <if test="motherboardserialnumber != null  and motherboardserialnumber != ''"> and e.motherboardSerialNumber = #{motherboardserialnumber}</if>
            <if test="direction != null  and direction != ''"> and e.direction = #{direction}</if>
            <if test="controlplate != null  and controlplate != ''"> and e.controlPlate = #{controlplate}</if>
            <if test="onedisplay != null  and onedisplay != ''"> and e.oneDisplay = #{onedisplay}</if>
            <if test="twodisplay != null  and twodisplay != ''"> and e.twoDisplay = #{twodisplay}</if>
            <if test="threedisplay != null  and threedisplay != ''"> and e.threeDisplay = #{threedisplay}</if>
            <if test="fourdisplay != null  and fourdisplay != ''"> and e.fourDisplay = #{fourdisplay}</if>
            <if test="qrcode != null  and qrcode != ''"> and e.qrCode = #{qrcode}</if>
            <if test="state != null  and state != ''"> and e.state = #{state}</if>
            <if test="ipadress != null  and ipadress != ''"> and e.ipAdress = #{ipadress}</if>
            <if test="departurewithoutrecords != null  and departurewithoutrecords != ''"> and e.departureWithoutRecords = #{departurewithoutrecords}</if>
            <if test="licenseplatanticounterfeiting != null  and licenseplatanticounterfeiting != ''"> and e.licensePlatAntiCounterfeiting = #{licenseplatanticounterfeiting}</if>
            <if test="specificvehicleexit != null  and specificvehicleexit != ''"> and e.specificVehicleExit = #{specificvehicleexit}</if>
            <if test="residualscreen != null  and residualscreen != ''"> and e.residualScreen = #{residualscreen}</if>
            <if test="volume != null "> and e.volume = #{volume}</if>
            <if test="numberone != null  and numberone != ''"> and e.numberone = #{numberone}</if>
            <if test="numbertwo != null  and numbertwo != ''"> and e.numbertwo = #{numbertwo}</if>
            <if test="numberthree != null  and numberthree != ''"> and e.numberThree = #{numberthree}</if>
            <if test="noLicensePlateCode != null  and noLicensePlateCode != ''"> and e.noLicensePlateCode = #{noLicensePlateCode}</if>
        </where>
    </select>
    
    <select id="selectParkingLotEquipmentById" parameterType="Long" resultMap="ParkingLotEquipmentResult">
        <include refid="selectParkingLotEquipmentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertParkingLotEquipment" parameterType="ParkingLotEquipment" useGeneratedKeys="true" keyProperty="id">
        insert into parking_lot_equipment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parkinglotinformationid != null">parkingLotInformationId,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="cameraserialnumber != null and cameraserialnumber != ''">cameraSerialNumber,</if>
            <if test="motherboardserialnumber != null">motherboardSerialNumber,</if>
            <if test="direction != null and direction != ''">direction,</if>
            <if test="controlplate != null">controlPlate,</if>
            <if test="onedisplay != null">oneDisplay,</if>
            <if test="twodisplay != null">twoDisplay,</if>
            <if test="threedisplay != null">threeDisplay,</if>
            <if test="fourdisplay != null">fourDisplay,</if>
            <if test="qrcode != null and qrcode != ''">qrCode,</if>
            <if test="state != null">state,</if>
            <if test="ipadress != null and ipadress != ''">ipAdress,</if>
            <if test="departurewithoutrecords != null">departureWithoutRecords,</if>
            <if test="licenseplatanticounterfeiting != null">licensePlatAntiCounterfeiting,</if>
            <if test="specificvehicleexit != null">specificVehicleExit,</if>
            <if test="residualscreen != null">residualScreen,</if>
            <if test="volume != null">volume,</if>
            <if test="numberone != null">numberone,</if>
            <if test="numbertwo != null">numbertwo,</if>
            <if test="numberthree != null">numberThree,</if>
            <if test="noLicensePlateCode != null">noLicensePlateCode,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parkinglotinformationid != null">#{parkinglotinformationid},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="cameraserialnumber != null and cameraserialnumber != ''">#{cameraserialnumber},</if>
            <if test="motherboardserialnumber != null">#{motherboardserialnumber},</if>
            <if test="direction != null and direction != ''">#{direction},</if>
            <if test="controlplate != null">#{controlplate},</if>
            <if test="onedisplay != null">#{onedisplay},</if>
            <if test="twodisplay != null">#{twodisplay},</if>
            <if test="threedisplay != null">#{threedisplay},</if>
            <if test="fourdisplay != null">#{fourdisplay},</if>
            <if test="qrcode != null and qrcode != ''">#{qrcode},</if>
            <if test="state != null">#{state},</if>
            <if test="ipadress != null and ipadress != ''">#{ipadress},</if>
            <if test="departurewithoutrecords != null">#{departurewithoutrecords},</if>
            <if test="licenseplatanticounterfeiting != null">#{licenseplatanticounterfeiting},</if>
            <if test="specificvehicleexit != null">#{specificvehicleexit},</if>
            <if test="residualscreen != null">#{residualscreen},</if>
            <if test="volume != null">#{volume},</if>
            <if test="numberone != null">#{numberone},</if>
            <if test="numbertwo != null">#{numbertwo},</if>
            <if test="numberthree != null">#{numberthree},</if>
            <if test="noLicensePlateCode != null">#{noLicensePlateCode},</if>
         </trim>
    </insert>

    <update id="updateParkingLotEquipment" parameterType="ParkingLotEquipment">
        update parking_lot_equipment
        <trim prefix="SET" suffixOverrides=",">
            <if test="parkinglotinformationid != null">parkingLotInformationId = #{parkinglotinformationid},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="cameraserialnumber != null and cameraserialnumber != ''">cameraSerialNumber = #{cameraserialnumber},</if>
            <if test="motherboardserialnumber != null">motherboardSerialNumber = #{motherboardserialnumber},</if>
            <if test="direction != null and direction != ''">direction = #{direction},</if>
            <if test="controlplate != null">controlPlate = #{controlplate},</if>
            <if test="onedisplay != null">oneDisplay = #{onedisplay},</if>
            <if test="twodisplay != null">twoDisplay = #{twodisplay},</if>
            <if test="threedisplay != null">threeDisplay = #{threedisplay},</if>
            <if test="fourdisplay != null">fourDisplay = #{fourdisplay},</if>
            <if test="qrcode != null and qrcode != ''">qrCode = #{qrcode},</if>
            <if test="state != null">state = #{state},</if>
            <if test="ipadress != null and ipadress != ''">ipAdress = #{ipadress},</if>
            <if test="departurewithoutrecords != null">departureWithoutRecords = #{departurewithoutrecords},</if>
            <if test="licenseplatanticounterfeiting != null">licensePlatAntiCounterfeiting = #{licenseplatanticounterfeiting},</if>
            <if test="specificvehicleexit != null">specificVehicleExit = #{specificvehicleexit},</if>
            <if test="residualscreen != null">residualScreen = #{residualscreen},</if>
            <if test="volume != null">volume = #{volume},</if>
            <if test="numberone != null">numberone = #{numberone},</if>
            <if test="numbertwo != null">numbertwo = #{numbertwo},</if>
            <if test="numberthree != null">numberThree = #{numberthree},</if>
            <if test="noLicensePlateCode != null">noLicensePlateCode = #{noLicensePlateCode},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteParkingLotEquipmentById" parameterType="Long">
        delete from parking_lot_equipment where id = #{id}
    </delete>

    <delete id="deleteParkingLotEquipmentByIds" parameterType="String">
        delete from parking_lot_equipment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--//通过序列号获取推送数据设备信息
    ParkingLotEquipment findParkingLotEquipmentBySerialno(String cameraSerialNumber);-->
    <select id="findParkingLotEquipmentBySerialno" resultMap="ParkingLotEquipmentResult">
        select * from parking_lot_equipment where cameraSerialNumber=#{cameraSerialNumber}
    </select>
<!--    //查询停车场信息通过序列号
    String findBySerialno(String serialno);-->
<select id="findBySerialno" resultType="com.ruoyi.common.core.domain.entity.ParkingLotInformation">
    select l.* from parking_lot_equipment  p left join parking_lot_information l on p.parkingLotInformationId=l.id where cameraSerialNumber=#{cameraSerialNumber}
</select>

   <!-- List<ParkingLotEquipment> byParkinglotinformationid(Long parkinglotinformationid);-->
    <select id="byParkinglotinformationid" resultType="com.ruoyi.common.core.domain.entity.ParkingLotEquipment">
        select * from parking_lot_equipment where parkingLotInformationId=#{parkinglotinformationid}
    </select>


   <!-- ParkingLotEquipment selectParkingLotEquipmentFromId(Long parkinglotequipmentid);-->
    <select id="selectParkingLotEquipmentFromId" resultMap="ParkingLotEquipmentResultOne">
        select e.name ename ,l.name lname,l.number lnumber,l.remainingParkingSpace lremainingParkingSpace  from parking_lot_equipment e left join parking_lot_information l on e.parkinglotinformationid=l.id where e.id=#{parkinglotequipmentid}
    </select>
    <resultMap type="ParkingLotEquipment" id="ParkingLotEquipmentResultOne">
        <result property="name"    column="ename"    />
        <association property="parkingLotInformation" javaType="com.ruoyi.common.core.domain.entity.ParkingLotInformation">
            <result property="name" column="lname"></result>
            <result property="number" column="lnumber"></result>
            <result property="remainingParkingSpace" column="lremainingParkingSpace"></result>

        </association>
    </resultMap>
    <select id="byParkinglotinformationid1" resultType="com.ruoyi.common.core.domain.entity.ParkingLotEquipment">
        select *  from parking_lot_equipment  where parkingLotInformationId=#{parkinglotinformationid} and direction='1'
    </select>
</mapper>