<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.parking.mapper.ParkingRecordMapper">
    
    <resultMap type="ParkingRecord" id="ParkingRecordResult">
        <result property="id"    column="id"    />
        <result property="license"    column="license"    />
        <result property="parkinglotinformationid"    column="parkingLotInformationId"    />
        <result property="admissiontime"    column="admissionTime"    />
        <result property="exittime"    column="exitTime"    />
        <result property="licensepllatecolor"    column="licensePllateColor"    />
        <result property="ordernumber"    column="orderNumber"    />
        <result property="orderstate"    column="orderState"    />
        <result property="paystate"    column="payState"    />
        <result property="money"    column="money"    />
        <result property="entranceandexitname"    column="entranceAndExitName"    />
        <result property="payTime"    column="payTime"    />
        <result property="numbertwo"    column="numberTwo"    />
        <result property="numberthree"    column="numberThree"    />
        <result property="discountamount"    column="discountAmount"    />
        <result property="amountpayable"    column="amountPayable"    />
        <result property="paymentmethod"    column="paymentMethod"    />
        <association property="parkingLotInformation" javaType="com.ruoyi.common.core.domain.entity.ParkingLotInformation">
            <id property="id" column="lid"></id>
            <result property="name" column="lname"></result>
        </association>
    </resultMap>

    <sql id="selectParkingRecordVo">
        select * from parking_record
    </sql>

    <select id="selectParkingRecordList" parameterType="ParkingRecord" resultMap="ParkingRecordResult">
        select p.*,l.id lid,l.name lname from parking_record p left join parking_lot_information l on p.parkinglotinformationid=l.id
        <where>  
            <if test="license != null  and license != ''"> and p.license = #{license}</if>
            <if test="parkinglotinformationid != null and parkinglotinformationid != 0"> and p.parkingLotInformationId = #{parkinglotinformationid}</if>
            <if test="admissiontime != null "> and p.admissionTime = #{admissiontime}</if>
            <if test="exittime != null "> and p.exitTime = #{exittime}</if>
            <if test="licensepllatecolor != null  and licensepllatecolor != ''"> and p.licensePllateColor = #{licensepllatecolor}</if>
            <if test="ordernumber != null  and ordernumber != ''"> and p.orderNumber = #{ordernumber}</if>
            <if test="orderstate != null  and orderstate != ''"> and p.orderState = #{orderstate}</if>
            <if test="paystate != null  and paystate != ''"> and p.payState = #{paystate}</if>
            <if test="money != null "> and  p.money = #{money}</if>
            <if test="entranceandexitname != null  and entranceandexitname != ''"> and p.entranceAndExitName like concat('%', #{entranceandexitname}, '%')</if>
            <if test="payTime != null  and payTime != ''"> and p.payTime = #{payTime}</if>
            <if test="numbertwo != null  and numbertwo != ''"> and p.numberTwo = #{numbertwo}</if>
            <if test="numberthree != null  and numberthree != ''"> and p.numberThree = #{numberthree}</if>
        </where>
    </select>
    
    <select id="selectParkingRecordById" parameterType="Long" resultMap="ParkingRecordResult">
        select * from parking_record
        where id = #{id}
    </select>
        
    <insert id="insertParkingRecord" parameterType="ParkingRecord">
        insert into parking_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="license != null">license,</if>
            <if test="parkinglotinformationid != null">parkingLotInformationId,</if>
            <if test="admissiontime != null">admissionTime,</if>
            <if test="exittime != null">exitTime,</if>
            <if test="licensepllatecolor != null">licensePllateColor,</if>
            <if test="ordernumber != null and ordernumber != ''">orderNumber,</if>
            <if test="orderstate != null">orderState,</if>
            <if test="paystate != null">payState,</if>
            <if test="money != null">money,</if>
            <if test="entranceandexitname != null">entranceAndExitName,</if>
            <if test="payTime != null">payTime,</if>
            <if test="numbertwo != null">numberTwo,</if>
            <if test="numberthree != null">numberThree,</if>
            <if test="discountamount != null">discountAmount,</if>
            <if test="amountpayable != null">amountPayable,</if>
            <if test="paymentmethod != null">paymentMethod ,</if>

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="license != null">#{license},</if>
            <if test="parkinglotinformationid != null">#{parkinglotinformationid},</if>
            <if test="admissiontime != null">#{admissiontime},</if>
            <if test="exittime != null">#{exittime},</if>
            <if test="licensepllatecolor != null">#{licensepllatecolor},</if>
            <if test="ordernumber != null and ordernumber != ''">#{ordernumber},</if>
            <if test="orderstate != null">#{orderstate},</if>
            <if test="paystate != null">#{paystate},</if>
            <if test="money != null">#{money},</if>
            <if test="entranceandexitname != null">#{entranceandexitname},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="numbertwo != null">#{numbertwo},</if>
            <if test="numberthree != null">#{numberthree},</if>
            <if test="discountamount != null"> #{discountamount},</if>
            <if test="amountpayable != null"> #{amountpayable},</if>
            <if test="paymentmethod != null"> #{paymentmethod},</if>
         </trim>
    </insert>

    <update id="updateParkingRecord" parameterType="ParkingRecord">
        update parking_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="license != null">license = #{license},</if>
            <if test="parkinglotinformationid != null">parkingLotInformationId = #{parkinglotinformationid},</if>
            <if test="admissiontime != null">admissionTime = #{admissiontime},</if>
            <if test="exittime != null">exitTime = #{exittime},</if>
            <if test="licensepllatecolor != null">licensePllateColor = #{licensepllatecolor},</if>
            <if test="ordernumber != null and ordernumber != ''">orderNumber = #{ordernumber},</if>
            <if test="orderstate != null">orderState = #{orderstate},</if>
            <if test="paystate != null">payState = #{paystate},</if>
            <if test="money != null">money = #{money},</if>
            <if test="entranceandexitname != null">entranceAndExitName = #{entranceandexitname},</if>
            <if test="payTime != null">payTime = #{payTime},</if>
            <if test="numbertwo != null">numberTwo = #{numbertwo},</if>
            <if test="numberthree != null">numberThree = #{numberthree},</if>
            <if test="discountamount != null">discountAmount = #{discountamount},</if>
            <if test="amountpayable != null">amountPayable = #{amountpayable},</if>
            <if test="paymentmethod != null">paymentMethod = #{paymentmethod},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteParkingRecordById" parameterType="Long">
        delete from parking_record where id = #{id}
    </delete>

    <delete id="deleteParkingRecordByIds" parameterType="String">
        delete from parking_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--  //通过停车场id，车牌号查询有无未支付订单
    ParkingRecord findByLicense(String license,parkingLotInformationId);-->
    <select  id="findByLicense" resultMap="ParkingRecordResult">
        select  * from parking_record where license=#{license} and parkingLotInformationId=#{parkingLotInformationId} and payState='0'
    </select>


    <!-- //通过 停车场id，车牌号，和支付状态查询是否有无未支付订单
    public ParkingRecord findByLicenseAndPayState(@Param("license") String license, @Param("parkingLotInformationId") Long parkingLotInformationId);
-->
    <select id="findByLicenseAndPayState" resultMap="ParkingRecordResult">
        select * from parking_record where license=#{license} and parkingLotInformationId=#{parkingLotInformationId} and payState=1
    </select>

    <!-- //通过车牌号，未支付状态查询出来修改状态void editPayState(String license);-->
    <select id="editPayState" resultMap="ParkingRecordResult">
        select * from parking_record where license=#{license} and paystate=0
    </select>

    <!--    //通过停车场id，车牌号,当前时间（通过时间排序获取最近时间）获取出场车停车记录
    ParkingRecord findByParkingLotInformationLicense(@Param("parkingLotInformationId")Long id,@Param("license") String license);-->
   <select id="findByParkingLotInformationLicense" resultMap="ParkingRecordResult">
       select *  from parking_record where parkingLotInformationId=#{parkingLotInformationId} and license=#{license} order by payTime desc
   </select>

    <!--    //通过停车场id，车牌号,支付状态获取出场车停车记录
         ParkingRecord findByParkingLotInformationLicenseAndPayOrder(Long id, String license);-->
    <select id="findByParkingLotInformationLicenseAndPayOrder" resultMap="ParkingRecordResult">
        select *  from parking_record where parkingLotInformationId=#{parkingLotInformationId} and license=#{license} and  payState =0
    </select>
</mapper>